body {
    background-color: #cacaca;
    text-align: center;
    font-family: Roboto, sans-serif;}

#header {
    margin: 24px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

#buttons {
    display: flex;
    margin: 20px auto;
    gap: 20px;
}

#buttons button {
    flex: 1;
    padding: 8px 24px;
    font-size: 1rem;
    font-weight: 600;
}

#container {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    border: 1px solid #000;
    background-color: #fff;
}

.square {
    box-sizing: border-box;
}